{% extends "base.html" %} 
{% block title %} 
Email Verification
{% endblock %}
{%block content %} 
{% load static %}

<section>
{% if success %}
<div class="container mx-auto py-8 text-center">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight  md:text-5xl lg:text-6xl text-white">Email verified</h1>
    <p class="mb-6 text-lg font-normal lg:text-xl sm:px-16 xl:px-48 text-gray-400">{{ user.username }}, your email has been successfully verified!</p>
    <a href="/admin" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-teal-700 rounded-lg hover:bg-teal-800 focus:ring-4 focus:ring-teal-900">
        Login
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
    </a>
</div>
{% else %}
<div class="container mx-auto py-8 text-center">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl text-white">Invalid token</h1>
    <p class="mb-6 text-lg font-normal  lg:text-xl sm:px-16 xl:px-48 text-gray-400">Invalid verification token, we could not verify your account.</p>
    <a href="/portal/resend-verification" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-teal-700 rounded-lg hover:bg-teal-800 focus:ring-4 focus:ring-teal-900">
        Re-send verification
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
    </a>
</div>
{% endif %}
</section>

{% endblock %}
