{% extends "base.html" %} 
{% block title %} 
CompSciHi Portal 
{% endblock %}
{%block content %} 
{% load static %}
<section class="bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      href="/"
      class="flex items-center mb-6 text-2xl font-semibold text-white"
    >
      <img
        class="w-8 h-8 mr-2"
        src="{% static 'portal/logo.svg' %}"
        alt="logo"
      />
      CompSciHi
    </a>
    <div
      class="w-full  shadow border md:mt-0 sm:max-w-md xl:p-0 rounded bg-gray-800 border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-white"
        >
          Login to your portal account
        </h1>
        <form  method="post">
          {% csrf_token %}
          <div class="space-y-4 md:space-y-6">
            <div >
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-white"
                >Your email</label
              >
              {{ form.username }}
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-white"
                >Your password</label
              >
              {{ form.password }}
            </div>
            <button
              type="submit"
              class="w-full text-white bg-teal-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center "
            >
              Login
            </button>
          </div>
          <div class=" mt-6 space-y-1 ">
            <p class="text-sm font-light text-gray-400">
              Don't have an account?
              <a
                href="/portal/signup"
                class="font-medium  hover:underline text-primary-500"
                >Sign up here</a
              >
            </p>
            <p class="text-sm font-light text-gray-400">
              Forgot password?
              <a
                href="/portal/forgot-password"
                class="font-medium hover:underline text-primary-500"
                >Reset your password here</a
              >
            </p>
            <p class="text-sm font-light text-gray-400">
              Need to re-verify your account?
              <a
                href="/portal/resend-verification"
                class="font-medium  hover:underline text-primary-500"
                >Send re-verification link here</a
              >
            </p>
          </div>
          {% if form.errors %}
          <div class="mt-4">
            <ul>
              {% for field, error in form.errors.items %}
                <li><small class="text-red-500">{{ error }}</small></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %} 
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
